.ant-avatar.ant-avatar-icon {
  color: #1890ff;
  background: transparent;
}

.ant-list-item {
  cursor: pointer;
}

.hovered {
  background: #bababa3b;
}

.score {
  font-size: 2em;
  text-align: center;
  margin-top: 100px;
}

.scoreSub {
  text-align: center;
  color: rgb(92, 92, 92);
}

.score span {
  font-weight: bold;
}

.loading {
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.welcome .ant-row-flex {
  margin-top: 25px;
}

.welcome .ant-radio-group,
.welcome .ant-select {
  float: right;
}

.welcome .ant-col-8 h4 {
  margin: 0;
  position: absolute;
  top: 40%;
}

.ant-col.left-col {
  padding: 5px 20px;
}

@media (max-width: 480px) {
  .ant-steps-horizontal.ant-steps-label-horizontal {
    display: inline-flex;
  }

  .ant-steps-horizontal.ant-steps-label-horizontal .ant-steps-item {
    display: inline-block;
    margin: -15px;
    overflow: visible;
  }
}